<a href="https://colab.research.google.com/github/tedwards523/ReadME.md/blob/main/hw3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
## this sets some style parameters
sns.set()

df = pd.read_csv('https://raw.githubusercontent.com/smart-stats/ds4bio_book/main/book/assetts/kirby21AllLevels.csv')
df.head(4)

,Unnamed: 0,rawid,roi,volume,min,max,mean,std,type,level,id,icv,tbv
0,1,kirby127a_3_1_ax.img,Telencephalon_L,531111,0.0,374.0,128.3013,51.8593,1,1,127,1378295,1268519
1,2,kirby127a_3_1_ax.img,Telencephalon_R,543404,0.0,300.0,135.0683,53.6471,1,1,127,1378295,1268519
2,3,kirby127a_3_1_ax.img,Diencephalon_L,9683,15.0,295.0,193.5488,32.2733,1,1,127,1378295,1268519
3,4,kirby127a_3_1_ax.img,Diencephalon_R,9678,10.0,335.0,193.7051,32.7869,1,1,127,1378295,1268519

In [7]:
# Filter for type I, level I telencephalon (left)
telencephalon_L_volume = df[(df['type'] == 1) & (df['level'] == 1) & (df['roi'] == 'Telencephalon_L')]['volume'].iloc[0]

# Filter for type I, level I telencephalon (right)
telencephalon_R_volume = df[(df['type'] == 1) & (df['level'] == 1) & (df['roi'] == 'Telencephalon_R')]['volume'].iloc[0]

# Get ICV and TBV for the subject
# Assuming ICV and TBV are consistent across rows for a given subject (type 1, level 1)
subject_data = df[(df['type'] == 1) & (df['level'] == 1)].iloc[0]
icv = subject_data['icv']
tbv = subject_data['tbv']

# Calculate fractions for Left Telencephalon
icv_fraction_L = telencephalon_L_volume / icv
tbv_fraction_L = telencephalon_L_volume / tbv

# Calculate fractions for Right Telencephalon
icv_fraction_R = telencephalon_R_volume / icv
tbv_fraction_R = telencephalon_R_volume / tbv

# Print the results
print(f"Telencephalon_L_volume: {telencephalon_L_volume}")
print(f"Telencephalon_R_volume: {telencephalon_R_volume}")
print(f"ICV_fraction_L: {icv_fraction_L:.6f}")
print(f"TBV_fraction_L: {tbv_fraction_L:.6f}")
print(f"ICV_fraction_R: {icv_fraction_R:.6f}")
print(f"TBV_fraction_R: {tbv_fraction_R:.6f}")

Telencephalon_L_volume: 531111
Telencephalon_R_volume: 543404
ICV_fraction_L: 0.385339
TBV_fraction_L: 0.418686
ICV_fraction_R: 0.394258
TBV_fraction_R: 0.428377

In [9]:
df = df.drop(['Unnamed: 0', 'rawid', 'min', 'max', 'mean', 'std'], axis = 1)